<div class="firstName-details" [(ngModel)]="data.id" ngDefaultControl>
    <p><strong>Id: </strong> {{data.id}}</p>
    </div>

<div class="firstName-details" [(ngModel)]="data.lastName" ngDefaultControl>
<p><strong>Фамилия: </strong> {{data.lastName}}</p>
</div>

<div  [(ngModel)]="data.firstName" ngDefaultControl>
    <p> <strong>Имя:</strong>  {{data.firstName}}</p>
    
  </div>

  <div  [(ngModel)]="data.middleName" ngDefaultControl>
      <p><strong>Отчество: </strong> {{data.middleName}}</p>
      
    </div>

    <div  [(ngModel)]="data.birthday" ngDefaultControl>
        <p><strong>Дата рождения: </strong> {{data.birthday | date:'dd.MM.yyyy' }}</p>
        
      </div>

      <div  [(ngModel)]="data.gender" ngDefaultControl>
          <p><strong>Пол: </strong> {{data.gender}}</p>
          
        </div>

        <div  [(ngModel)]="data.phoneNumber" ngDefaultControl>
            <p><strong>Тел.номер: </strong> {{data.phoneNumber}}</p>
            
          </div>